<!-- traffic/templates/traffic/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartTraffic Control</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
    crossorigin="anonymous"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body class="bg-info d-flex justify-content-center align-items-center vh-100">
    <div
    class="bg-white p-5 rounded-5 text-secondary shadow"
    style="width: 50rem">
        <div class="text-center fs-1 fw-bold">SmartTraffic Control</div>
    <div class="input-group mt-4">
        <h2><li><a href="{% url 'device_list' %}" class="text-decoration-none text-info fw-semibold">Devices</a></li></h2>
        <ul class="input-group mt-4">
            {% for device in devices %}
                <li class="d-flex gap-1 justify-content-center mt-1">{{ device.name }} - {{ device.type }} - {{ device.location }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="input-group mt-4">
        <h2><li><a href="{% url 'virtual_device_list' %}" class="text-decoration-none text-info fw-semibold">Virtual Devices</a></li></h2>
        <ul class="input-group mt-4">
            {% for vdevice in virtual_devices %}
                <li class="d-flex gap-1 justify-content-center mt-1">{{ vdevice.name }} - {{ vdevice.type }} - {{ vdevice.metadata }}</li>
            {% endfor %}
        </ul>
    </div>
        <h2><li><a href="{% url 'permissions_list' %}" class="text-decoration-none text-info fw-semibold">Permissions</a></li></h2>
        <ul class="input-group mt-4">
            {% for permissions in permissions %}
                <li class="d-flex gap-1 justify-content-center mt-1">{{ permissions.name }} - {{ permissions.type }}</li>
            {% endfor %}
        </ul>
    <div class="input-group mt-4">
        <h2><li><a href="{% url 'traffic_data_list' %}" class="text-decoration-none text-info fw-semibold">Traffic Data</a></li></h2>
        <ul class="input-group mt-4">
            {% for data in traffic_data %}
                <li class="d-flex gap-1 justify-content-center mt-1">{{ data.device.name }} - {{ data.timestamp }} - {{ data.data }}</li>
            {% endfor %}
        </ul>
    </div>
    <!-- Botón de cerrar sesión -->
    <a href="{% url 'login' %}"><button class="btn btn-primary btn-lg float-end" data-bs-toggle="button" autocomplete="off">Cerrar sesión</button></a>
</body>
</html>