<!-- thing_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Permissions List</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
    crossorigin="anonymous"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body class="bg-info d-flex justify-content-center align-items-center vh-100">
  <div class="bg-white p-5 rounded-5 text-secondary shadow"
  style="width: 50rem">
  <h2 class="text-center fs-1 fw-bold">List of Permissions</h2>
  <!-- Botón de atrás -->
  <a href="{% url 'index' %}"><button class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Atrás</button></a>
  <!-- Verifica si hay cosas para mostrar -->
  {% if permissions %}
  <div class="input-group mt-4">
    <ul>
      <!-- Itera sobre cada cosa en la lista -->
      {% for permissions in permissions %}
        <li>
          <!-- Muestra el nombre de la cosa -->
          <strong>Name:</strong> {{ permissions.name }}<br>

          <!-- Muestra otros campos de la cosa -->
          <strong>Type:</strong> {{ permissions.type }}<br>
          <strong>Location:</strong> {{ permissions.location }}<br>

          <!-- Puedes agregar más campos según sea necesario -->

        </li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
    <p class="input-group mt-4">No permissions available.</p>
  {% endif %}
  </div>
</body>
</html>
